{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="column one-third">
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <h3>Upload a png/jpg/jpeg file</h3>
            <br/>
            <label for="imageUpload" class="upload-label">
                Choose...
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        </form>       
   </div>

    <div class="column one-third">
        <div class="image-section" style="display:none;">
            <h3>Image Preview</h3>
            <div class="img-preview">
                <div id="imagePreview"></div>
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
            </div>
        </div>
         <div class="loader" style="display:none;"></div>       
    </div>
    
    <div class="column one-third">
        <h4 id="result1">
            <span> </span>
        </h4> 
        <h4 id="result2">
            <span> </span>
        </h4>
        <h4 id="result3">
                <span> </span>
        </h4>
        <h4 id="result4">
                <span> </span>
        </h4>
        <h4 id="result5">
                <span> </span>
        </h4>

        <div class="choose_result" style="display:none;">
            <br/></br>
            <p>Please help us better predicting.</p>
            <p>Which one is the correct prediction?</p>
            <p>(If none of above are correct, choose 'none' and select the correct category.)</p>
            <form action="/choose_result", method="POST">
                <select class="form-control" name="result" id='result'>
                  <option value="result1">result1</option>
                  <option value="result2">result2</option>
                  <option value="result3">result3</option>
                  <option value="result4">result4</option>
                  <option value="result5">result5</option>
                  <option value="none">none</option>
                </select>
                </br>
                <select class="form-control" name='correct_result' id='correct_result'>
                    <option value="dog">dog</option>
                    <option value="cat">cat</option>
                    <option value="people">people</option>
                    <option value="gun">gun</option>
                    <option value="flower">flower</option>
                </select>
                </br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>  
        </div>
        
    </div>
         
</div>


{% endblock %}